@page
@model Geoprofs_v2.Pages.Werknemers.IndexModel
@{
    ViewData["Title"] = "Verlof aanvragen goedkeuren of afkeuren";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].startVerlof)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].eindVerlof)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].verlofReden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Werknemer[0].status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Werknemer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startVerlof)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eindVerlof)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.verlofReden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.werknemer_id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>