@page
@model Geoprofs_v2.Pages.VerlofAanvragen.ManagerModel

@{
    ViewData["Title"] = "Index";
}

<h2>Employee PTO requests</h2>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VerlofAanvraag[0].werknemer_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerlofAanvraag[0].verlofReden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerlofAanvraag[0].startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerlofAanvraag[0].endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerlofAanvraag[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerlofAanvraag[0].verlofStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VerlofAanvraag) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.werknemer_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verlofReden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verlofStatus)
            </td>
            <td>
               <a asp-page="./Edit" asp-route-id="@item.verlof_id">Status</a>  

            </td>
        </tr>
}
    </tbody>
</table>
